@import 'tailwindcss';

:root {
  --foreground: #2e2e2e;
  --background: #e2e2e2;
  --cursor: url('/cursor.svg');
  --cursor-active: url('/cursor_inverted.svg');

  --black: #2e2e2e;
  --neutral-1: #777777;
  --neutral-2: #555555;
  --neutral-3: #333333;
  --card: #dadada;
  --white: #e2e2e2;
  --box-shadow:
    0 2px 6px rgba(var(--neutral-3), 25%), 0 8px 24px rgba(var(--neutral-3), 33%),
    0 16px 32px rgba(var(--neutral-3), 33%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-card: var(--card);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #d1d1d1;
    --neutral-1: #888888;
    --neutral-2: #aaaaaa;
    --neutral-3: #cccccc;
    --card: #242424;
    --cursor: url('/cursor_inverted.svg');
    --cursor-active: url('/cursor.svg');
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: var(--cursor), auto;
}

button:hover {
  cursor: var(--cursor-active), auto;
}

a:hover {
  cursor: var(--cursor-active), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--foreground));
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}

p,
label,
span,
i,
li,
a {
  color: var(--neutral-2);
}

.cursor {
  cursor: var(--cursor), auto;
}

.cursor-inverted {
  cursor: var(--cursor-active), auto;
}

.swiper-slide {
  transition:
    transform 0.4s,
    filter 0.4s,
    opacity 0.4s;
  filter: blur(2px) brightness(0.6);
  transform: scale(0.85);
}
.swiper-slide-active {
  filter: none;
  transform: scale(1);
  z-index: 20;
}
.swiper-slide-prev,
.swiper-slide-next {
  filter: blur(5px) brightness(0.6);
  transform: scale(0.8);
  z-index: 10;
}
